<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="ja">

</head>
<body>
	{% if message %}<h1>{{ message }}</h1>{% endif %}
	{% if message %}<div class="tweettd"><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script><a href="https://twitter.com/intent/tweet?text={{ message }}&url=http://atsui.jp" target="_blank">tweet</a></div>{% endif %}
</body>
</html>


